:root {
}

.label-main-title {
    color: rgb(150, 162, 179);
    font-size: 85px;
    -unity-font-style: bold;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    letter-spacing: 3px;
    -unity-text-outline-color: rgb(89, 96, 112);
    -unity-text-outline-width: 1px;
}
