:root {
}

.settings-slider {
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/Fonts/diffusion-regular.ttf?fileID=12800000&guid=f760a940b7e6de640878ca886a4eb990&type=3#diffusion-regular");
    font-size: 35px;
    color: rgb(150, 162, 179);
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    letter-spacing: 10px;
}
